/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* My Reset Styles */
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
  -webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* End of Reset*/
/* 760px (size we want) / 16 (16px = 1em) = 47.5em  For Tablet*/
/* 1140px (size we want) / 16 (16px = 1em) = 71.25em For Desktop*/
/*----- Clearfix -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "Noto Sans", sans-serif; }

.banner {
  max-height: 320px;
  height: 320px;
  width: 100%;
  background-image: url(../assets/popcorn.jpg);
  background-repeat: no-repeat;
  background-position: center; }

.mainNav {
  position: fixed;
  top: 40px; }
  .mainNav a {
    font-family: "Noto Serif", serif;
    text-decoration: none;
    font-size: 1.25em;
    color: #e5dcf2;
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px 15px 15px 25px;
    width: 150px;
    border-radius: 0 5px 5px 0; }
    .mainNav a#home {
      top: 20px;
      background-color: #7a9a95; }
    .mainNav a#add {
      top: 80px;
      background-color: #ef6d3b; }
    .mainNav a#search {
      top: 140px;
      background-color: #3F2860; }
    .mainNav a:hover {
      left: 0px;
      color: #f5f5f5; }
  .mainNav .navIcons {
    position: absolute;
    right: 20px;
    top: 15px; }

.headerWrapper {
  background-color: #3F2860;
  display: block;
  padding: 1em 5% 1em 5%;
  font-family: "Noto Serif", serif;
  color: #e5dcf2;
  text-align: center; }
  .headerWrapper h1 {
    display: block;
    font-size: 1.15em; }

@media (min-width: 47.5em) {
  .headerWrapper h1 {
    font-size: 1.5em; } }
footer {
  padding: .75em;
  background-color: #3F2860;
  margin-top: 25px; }
  footer p {
    font-size: .6em;
    color: #e5dcf2;
    text-align: right; }

.mainContent {
  min-height: 30em;
  padding-left: 5%;
  padding-right: 5%; }
  .mainContent h1 {
    font-size: 1.75em;
    color: #ef6d3b;
    padding-top: 1em;
    padding-bottom: 1em; }
  .mainContent .row {
    margin-top: 25px; }
  .mainContent .column {
    float: left;
    width: 50%;
    display: block;
    padding: .8em; }
    .mainContent .column figure {
      width: 100%;
      -webkit-box-shadow: 0px 0px 5px #201d3a;
      -moz-box-shadow: 0px 0px 5px #201d3a;
      -ms-box-shadow: 0px 0px 5px #201d3a;
      box-shadow: 0px 0px 5px #201d3a; }
    .mainContent .column img {
      width: 100%;
      display: block; }
    .mainContent .column .masterCaption {
      text-align: center;
      background-color: #201d3a;
      padding: .25em .25em .75em .25em; }
      .mainContent .column .masterCaption h3 {
        color: #4cb69f;
        font-size: 1.5em;
        padding-top: .25em;
        padding-bottom: .25em; }
      .mainContent .column .masterCaption h4 {
        color: #f5f5f5;
        font-size: .75em;
        opacity: .5;
        padding-bottom: .7em; }
  .mainContent .detailButton {
    font-size: .8em;
    text-decoration: none;
    padding: .4em;
    border: 1px solid #4cb69f;
    color: #4cb69f;
    display: inline-block;
    transition: color .3s ease, border-color .3s ease; }
    .mainContent .detailButton:hover {
      color: #f5f5f5;
      border-color: #f5f5f5; }
  .mainContent .detailContainer {
    background-color: #3F2860;
    -webkit-box-shadow: 0px 0px 10px #3F2860;
    -moz-box-shadow: 0px 0px 10px #3F2860;
    -ms-box-shadow: 0px 0px 10px #3F2860;
    box-shadow: 0px 0px 10px #3F2860;
    width: 70%;
    margin: 50px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .mainContent .detailContainer .detailImg {
      width: 100%;
      padding-bottom: 15px; }
      .mainContent .detailContainer .detailImg img {
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
    .mainContent .detailContainer .detailContent {
      background-color: #3F2860;
      float: left;
      width: 100%;
      padding: 0px 1em 20px 1em; }
      .mainContent .detailContainer .detailContent h3 {
        color: #e5dcf2;
        font-size: 2.5em;
        padding-bottom: .25em; }
      .mainContent .detailContainer .detailContent p {
        color: #e5dcf2;
        font-size: 1em;
        padding-top: .25em;
        padding-bottom: .25em; }
    .mainContent .detailContainer .movieList {
      margin-left: 15px;
      padding: .6em; }
  .mainContent .linkButton {
    text-decoration: none;
    font-size: 1.25em;
    padding: .25em;
    display: inline-block;
    background-color: #3F2860;
    color: #e5dcf2;
    border: 1px solid #3F2860;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: .25em;
    transition: color .3s ease, border-color .3s ease; }
    .mainContent .linkButton:hover {
      color: #ef6d3b;
      border-color: #ef6d3b; }
  .mainContent .deleteButton {
    text-decoration: none;
    font-size: 1.25em;
    padding: .25em;
    display: inline-block;
    color: #f5f5f5;
    background-color: #f22929;
    border: 1px solid #f22929;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: .25em;
    transition: color .3s ease, border-color .3s ease; }
    .mainContent .deleteButton:hover {
      background-color: #f5f5f5;
      color: #f22929; }

.mainForm {
  background-color: #3F2860;
  color: #e5dcf2;
  padding: 1.25em;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #3F2860;
  -moz-box-shadow: 0px 0px 10px #3F2860;
  -ms-box-shadow: 0px 0px 10px #3F2860;
  box-shadow: 0px 0px 10px #3F2860; }
  .mainForm fieldset {
    margin-bottom: 25px; }
  .mainForm select {
    display: block;
    margin-top: 5px;
    padding: .45em; }
  .mainForm span {
    font-size: .8em;
    margin-top: .8em;
    margin-bottom: .25em;
    display: inline-block; }
  .mainForm .charLimit {
    opacity: .3;
    float: right; }
  .mainForm legend {
    padding-top: .5em;
    padding-bottom: .5em; }
  .mainForm .userInput, .mainForm .bioText {
    display: block;
    padding: .5em;
    width: 100%;
    border: 0;
    border-bottom: #90c5a9 3px solid;
    background-color: transparent;
    color: #e5dcf2;
    font-size: 1em; }
  .mainForm .userInput {
    margin-bottom: 1em;
    margin-top: 1em; }
  .mainForm .bioText {
    height: 100px;
    margin-bottom: .5em;
    font-family: "Noto Sans", sans-serif; }
  .mainForm .submitButton {
    font-size: 1.4em;
    padding: .5em;
    border: #e5dcf2 1px solid;
    color: #3F2860;
    background-color: #e5dcf2;
    margin-top: .8em;
    transition: background-color .3s ease; }
    .mainForm .submitButton:hover {
      background-color: #90c5a9; }
  .mainForm .uploadButton {
    color: #4cb69f;
    padding: .3em; }
  .mainForm .checks {
    display: block; }

@media (min-width: 47.5em) {
  .mainForm {
    width: 50%; }
    .mainForm .submitButton {
      font-size: 1em; }

  .mainContent .column {
    width: 25%; }
  .mainContent .detailContainer {
    width: 100%; }
    .mainContent .detailContainer .detailImg {
      width: 25%;
      float: left;
      margin: 0;
      padding: 0; }
    .mainContent .detailContainer .detailContent {
      width: 75%;
      padding: 10px 1em 10px 1em; } }
