body {
	background-color: #16120f;
	background-image: url(../assets/clay-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $bodyFont;
	font-size: 1em;
	background-position: 0% 10%;
	height: 100vh;
	width: 100%;
	color: $primaryColor;
}
