.headerWrapper{
	text-align: center;
	font-size: 3em;
	color: $primaryColor;
	font-family: $headFont;
	padding-top: .2em;
}//end of headerWrapper

.nav {
	font-family: $headFont;
	ul {
		display: block;
		text-align: center;
		padding-top: 1em;
		width: 100%;
		margin-bottom: 20px;
	}
	li {
		display: inline-block;
		margin: .5em;
	}
	.active a{
		color: $secondaryColor;
		border-color: $accentColor;
		background-color: $primaryColor;
	}
	a {
		display: block;
		text-decoration: none;
		color: $primaryColor;
		font-size: 1.6em;
		padding: .4em;
		border: $primaryColor 1px solid;
		transition: background-color .5s ease, color .5s ease;
		&:hover {
			background-color: $primaryColor;
			color: $accentColor;
		}
	}//end of a
}//end of nav
@include breakpoint(desktop){
	.nav {
		a {
			font-size: 1.3em;
		}
	}
}
