.mainNav {
	position: fixed;
	top: 40px;
	a {
		font-family: $headFont;
		text-decoration: none;
		font-size: 1.25em;
		color: $white;
		position: absolute;
		left: -100px;
		transition: 0.3s; 
		padding: 15px 15px 15px 25px; 
		width: 150px;
		border-radius: 0 5px 5px 0;

		&#home {
			top: 20px;
			background-color: $darkGreenColor;
		}
		&#add {
			top: 80px;
			background-color: $orangeColor;
		}
		&#search {
			top: 140px;
			background-color: $purpleColor;
		}
		&:hover {
			left: 0px;
			color: $secondaryColor;
		}
	}//end of a
	.navIcons {
		position: absolute;
		right: 20px;
		top: 15px;
	}
}
.headerWrapper {
	background-color: $purpleColor;
	display: block;
	padding: 1em 5% 1em 5%;
	font-family: $headFont;
	color: $white;
	text-align: center;

	h1 {
		display: block;
		font-size: 1.15em;
	}
}
@include breakpoint(tablet) {
.headerWrapper {
	h1 {
		font-size: 1.5em;
	}
}
}