.mainContent {
	min-height: 30em;
	padding-left: 5%;
	padding-right: 5%;
	
	h1 {
		font-size: 1.75em;
		color: $orangeColor;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	h2 {
		font-size: 1.45em;
		color: $lightOrangeColor;
		padding: 1em 0;
	}
	.row {
		margin-top: 25px;
	}
	.column {
		float: left;
		width: 50%;
		display: block;
		padding: .8em;
		
		figure {
			width: 100%;
			@include box-shadow(0px, 0px, 5px, $thirdColor);
		}
		img {
			width: 100%;
			display: block;
		}
		.masterCaption {
			text-align: center;
			background-color: $thirdColor;
			padding: .25em .25em .75em .25em;
			h3 {
				color: $primaryColor;
				font-size: 1.5em;
				padding-top: .25em;
				padding-bottom: .25em;
			}
			h4 {
				color: $secondaryColor;
				font-size: .75em;
				opacity: .5;
				padding-bottom: .7em;
			}
		}//end of masterCaption
	}//end of column
	.detailButton {
		font-size: .8em;
		text-decoration: none;
		padding: .4em;
		border: 1px solid $primaryColor;
		color: $primaryColor;
		display: inline-block;
		transition: color .3s ease, border-color .3s ease;
		&:hover {
			color: $secondaryColor;
			border-color: $secondaryColor;
		}
	}//end of detail button
	.detailContainer {
		background-color: $purpleColor;
		@include box-shadow(0px, 0px, 10px, $purpleColor);
		width: 100%;
		margin: 50px auto;
		@include border-radius(5px);
		.detailImg {
			width: 100%;
			padding-bottom: 15px;
			img { width: 100%; @include border-radius(5px);  }
		}
		.detailContent{
			background-color: $purpleColor;
			float: left;
			width: 100%;
			padding: 0px 1em 20px 1em;

			h3 {
				color: $white;
				font-size: 2.5em;
				padding-bottom: .25em;
			}
			p {
				color: $white;
				font-size: 1em;
				padding-top: .25em;
				padding-bottom: .25em;
			}
		}//end of detailContent
		.movieList {
			margin-left: 15px;
			padding: .6em;
		}//end of movieList
	}//end of detailContainer
	
	.linkButton {
		text-decoration: none;
		font-size: 1.25em;
		padding: .25em;
		display: inline-block;
		background-color: $purpleColor;
		color: $white;
		border: 1px solid $purpleColor;
		@include border-radius(5px);
		margin: .25em;
		transition: color .3s ease, border-color .3s ease;
		&:hover {
			color: $orangeColor;
			border-color: $orangeColor;
		}
	}//end of linkButton
	.deleteButton {
		text-decoration: none;
		font-size: 1.25em;
		padding: .25em;
		display: inline-block;
		color: $secondaryColor;
		background-color: $warningColor;
		border: 1px solid $warningColor;
		@include border-radius(5px);
		margin: .25em;
		transition: color .3s ease, border-color .3s ease;
		&:hover {
			background-color: $secondaryColor;
			color: $warningColor;
		}
	}
	.searchList{
		display: block;
		li{
			background-color: $purpleColor;
			display: inline-block;
			border-right: 1px solid $lightOrangeColor;
			float: left;
		}
		a {
			display: block;
			text-decoration: none;
			color: $white;
			padding: .75em;
			font-size: 1.2em;
		}
		li:hover a {
			background-color: $white;
			color: $darkGreenColor;
		}
	}//end of searchList
	.searchResults {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding-right: 100px;
		h3 {
			font-size: 1.3em;
			color: $lightOrangeColor;
			padding: 1em 0;
		}
		span {
			color: $orangeColor;
		}
		a, a:visited, a:link {
			color: $lightOrangeColor;
			transition: color .3s ease;
			&:hover {
				color: $greenColor;
			}
		}
	}
}//end of main content
.mainForm {
	background-color: $purpleColor;
	color: $white;
	padding: 1.25em;
	margin: 0 auto;
	@include border-radius(10px);
	@include box-shadow(0px, 0px, 10px, $purpleColor);
	fieldset {
		margin-bottom: 25px;
	}
	select {
		display: block;
		margin-top: 5px;
		padding: .45em;
	}
	span{
		font-size: .8em;
		margin-top: .8em;
		margin-bottom: .25em;
		display: inline-block;
	}
	.charLimit {
		opacity: .3;
		float: right;
	}
	legend {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	%inputSelectStyles {
		display: block;
		padding: .5em;
			width: 100%;
		border: 0;
		border-bottom: $greenColor 3px solid;
		background-color: transparent;//$secondaryColor;
		color: $white;
		font-size: 1em;
	}
	.userInput {
		@extend %inputSelectStyles;

		margin-bottom: 1em;
		margin-top: 1em;
	}
	.bioText{		
		@extend %inputSelectStyles;
		height: 100px;
		margin-bottom: .5em;
		font-family: $bodyFont;
	}
	.submitButton {
		font-size: 1.4em;
		padding: .5em;
		border: $white 1px solid;
		color: $purpleColor;
		background-color: $white;
		margin-top: .8em;
		transition: background-color .3s ease;
		&:hover {
			background-color: $greenColor;
		}
	}
	.uploadButton {
		color: $primaryColor;
		padding: .3em;
	}
	.checks {
		display: block;
	}
	.releaseDate {
		display: inline-block;
	}
	.releaseDateSelect {
		display: inline;
		width: 80px;
		//padding: .25em;
		margin-right: .4em;
	}
}
@include breakpoint(tablet) {
	.mainForm {
		width: 50%;
		.submitButton {
			font-size: 1em;
		}
	}
	.mainContent {
		.column {
			width: 25%;
		}
		.detailContainer {
			.detailImg {
				width: 25%;
				float: left;
				margin: 0;
				padding: 0;
			}
			.detailContent{
				width: 75%;
				padding: 10px 1em 10px 1em;
			}
	}//end of detail container
	}
}