.mainContent {
	min-height: 30em;
	padding-left: 2%;
	padding-right: 2%;
	
	h1 {
		font-size: 1.75em;
		color: $primaryColor;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.row {
		margin-top: 25px;
	}
	.column {
		float: left;
		//width: 300px;
		width: 50%;
		display: block;
		padding: .8em;
		
		figure {
			width: 100%;
			@include box-shadow(0px, 0px, 5px, $thirdColor);
		}
		img {
			width: 100%;
			display: block;
		}
		.masterCaption {
			text-align: center;
			background-color: $thirdColor;
			padding: .25em .25em .75em .25em;
			h3 {
				color: $primaryColor;
				font-size: 1.5em;
				padding-top: .25em;
				padding-bottom: .25em;
			}
			h4 {
				color: $secondaryColor;
				font-size: .75em;
				opacity: .5;
				padding-bottom: .7em;
			}
		}//end of masterCaption
	}//end of master list
	.detailButton {
		font-size: .8em;
		text-decoration: none;
		padding: .4em;
		border: 1px solid $primaryColor;
		color: $primaryColor;
		display: inline-block;
		transition: color .3s ease, border-color .3s ease;
		&:hover {
			color: $secondaryColor;
			border-color: $secondaryColor;
		}
	}
}//end of main content
.mainForm {
	background-color: $thirdColor;
	color: $secondaryColor;
	padding: 1.25em;
	margin: 0 auto;
	@include border-radius(10px);
	@include box-shadow(0px, 0px, 10px, $thirdColor);
	span{
		font-size: .8em;
		margin-top: .8em;
		margin-bottom: .25em;
		display: inline-block;
	}
	.charLimit {
		opacity: .3;
		float: right;
	}
	legend {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	%inputSelectStyles {//all inputs
		display: block;
		padding: .5em;
	}
	%mainInputStyles {//all inputs except select
		width: 100%;
		border: 0;
		border-bottom: $primaryColor 3px solid;
		background-color: transparent;//$secondaryColor;
		color: $primaryColor;
		font-size: 1em;
	}
	.userInput {
		@extend %inputSelectStyles;
		@extend %mainInputStyles;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.expertiseSelect {
		@extend %inputSelectStyles;
		margin-top: .4em;
		color: $thirdColor;
		margin-bottom: .5em;
	}
	.bioText{		
		@extend %inputSelectStyles;
		@extend %mainInputStyles;
		height: 100px;
		margin-bottom: .5em;
		font-family: $bodyFont;
	}
	.submitButton {
		font-size: 1.4em;
		padding: .5em;
		border: $secondaryColor 1px solid;
		color: $primaryColor;
		background-color: $secondaryColor;
		margin-top: .8em;
		transition: color .3s ease, background-color .3s ease, border-color .3s ease;
		&:hover {
			color: $secondaryColor;
			background-color: $primaryColor;
			border-color: $primaryColor;
		}
	}
	.uploadButton {
		color: $primaryColor;
		padding: .3em;
	}
}
@include breakpoint(tablet) {
	.mainForm {
		width: 50%;
		.submitButton {
			font-size: 1em;
		}
	}
	.mainContent {
		.column {
			width: 25%;
		}
	}
}