//******************************Main Navigation ********************************
.mainContent {
	.contentContainer {
		.contentLeft {
			    height: 100%; /* 100% Full-height */
				width: 0; /* 0 width - change this with JavaScript */
				position: fixed; /* Stay in place */
				z-index: 1; /* Stay on top */
				top: 0;
				left: 0;
				background-color: $backgroundColor;
				overflow-x: hidden; /* Disable horizontal scroll */
				padding-top: 60px; /* Place content 60px from the top */
				transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

			.mainNav {
				li.active a {
					background-color: $containerColor;
					color: $primaryColor;
					border-top-color: $containerColor;
				}
				/* Position and style the close button (top right corner) */
				.closebtn {
					position: absolute;
					top: 0;
					right: 25px;
					font-size: 36px;
					margin-left: 50px;
					display: block;
					&:hover {
						background-color: transparent;
					}
				}
				a {
					//mobile
				    padding: 8px 8px 8px 32px;
					text-decoration: none;
					font-size: 25px;
					color: $mainText;
					display: block;
					transition: 0.3s;
					&:hover {
						background-color: $containerColor;
						color: $pinkAccent;
					}
					
				}// end of a
				.linkName {
					padding: 8px 8px 8px 32px;
					text-decoration: none;
					font-size: 25px;
					color: $mainText;
					display: block;
				}
			}//end of mainNav
		}//end of content left
	}//end of container
}//end of main content
//******************************End of Main Navigation ********************************


@include breakpoint(tablet) {
//******************************Main Navigation ********************************
.mainContent {
	.contentContainer {
		.contentLeft {
				//Reset
				height: auto;
				width: 100%;
				position: initial;
				z-index: auto;
				overflow-x: initial;
				padding-top: 0;
				
			width: 25%;
			float: left;
			background-color: $backgroundColor;
			padding: 0px 0 10px 2%;
			.mainNav {
				li.active a {
				}
				.closebtn {
					display: none;
				}
				a {
					
					width: 100%;
					border-bottom: 1px solid rgba(0,0,0,.1);
					border-left: 1px solid rgba(0,0,0,.1);
					padding: .8em .6em .8em .8em;
					font-size: 1.25em;
					transition: background-color .3s ease, color .3s ease;
					&:first-child {
						border-top: 1px solid rgba(0,0,0,.1);
					}	
				}
				.linkName {
					width: 100%;
					border-bottom: 1px solid rgba(0,0,0,.1);
					border-left: 1px solid rgba(0,0,0,.1);
					padding: .8em .6em .8em .8em;
					font-size: 1.25em;
					border-top: 1px solid rgba(0,0,0,.1);
				}
			}//end of mainNav
		}//end of content left
		.contentRight {
			width: 75%;
			float: right;
			background-color: $containerColor;
			padding: 25px 4%;
		}
	}//end of container
}//end of main content
//******************************End of Main Navigation ********************************
}