/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* My Reset Styles */
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
  -webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* End of Reset*/
/* 760px (size we want) / 16 (16px = 1em) = 47.5em  For Tablet*/
/* 1140px (size we want) / 16 (16px = 1em) = 71.25em For Desktop*/
/*----- Clearfix -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.mainNav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #201d3a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .mainNav a {
    padding: 8px 15px 8px 25px;
    text-decoration: none;
    font-size: 2em;
    color: #a8a8a8;
    display: block;
    transition: 0.3s; }
    .mainNav a:hover {
      color: #f5f5f5; }
  .mainNav .closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 50px; }

.headerWrapper {
  background-color: #f5f5f5;
  display: block;
  padding: 1em 2% 1em 2%; }
  .headerWrapper .openBtn {
    font-size: 1.75em;
    color: #201d3a;
    transition: color .3s ease; }
    .headerWrapper .openBtn:hover {
      color: #4cb69f; }
  .headerWrapper h1 {
    display: inline-block;
    font-size: 1.15em;
    color: #4cb69f;
    margin-left: 5px; }

@media (min-width: 47.5em) {
  .headerWrapper h1 {
    font-size: 1.5em;
    margin-left: 25px; } }
footer {
  padding: .75em;
  background-color: #f5f5f5;
  margin-top: 25px; }
  footer p {
    font-size: .6em;
    color: #4cb69f;
    text-align: right; }

.container {
  transition: margin-left .5s; }

body {
  font-family: "Noto Sans", sans-serif; }

.banner {
  max-height: 320px;
  height: 320px;
  width: 100%;
  background-image: url(../assets/dna.jpg);
  background-repeat: no-repeat;
  background-position: center; }

.mainContent {
  min-height: 30em;
  padding-left: 2%;
  padding-right: 2%; }
  .mainContent h1 {
    font-size: 1.75em;
    color: #4cb69f;
    padding-top: 1em;
    padding-bottom: 1em; }
  .mainContent .row {
    margin-top: 25px; }
  .mainContent .column {
    float: left;
    width: 50%;
    display: block;
    padding: .8em; }
    .mainContent .column figure {
      width: 100%;
      -webkit-box-shadow: 0px 0px 5px #201d3a;
      -moz-box-shadow: 0px 0px 5px #201d3a;
      -ms-box-shadow: 0px 0px 5px #201d3a;
      box-shadow: 0px 0px 5px #201d3a; }
    .mainContent .column img {
      width: 100%;
      display: block; }
    .mainContent .column .masterCaption {
      text-align: center;
      background-color: #201d3a;
      padding: .25em .25em .75em .25em; }
      .mainContent .column .masterCaption h3 {
        color: #4cb69f;
        font-size: 1.5em;
        padding-top: .25em;
        padding-bottom: .25em; }
      .mainContent .column .masterCaption h4 {
        color: #f5f5f5;
        font-size: .75em;
        opacity: .5;
        padding-bottom: .7em; }
  .mainContent .detailButton {
    font-size: .8em;
    text-decoration: none;
    padding: .4em;
    border: 1px solid #4cb69f;
    color: #4cb69f;
    display: inline-block;
    transition: color .3s ease, border-color .3s ease; }
    .mainContent .detailButton:hover {
      color: #f5f5f5;
      border-color: #f5f5f5; }
  .mainContent .detailContainer {
    background-color: #201d3a;
    -webkit-box-shadow: 0px 0px 10px #201d3a;
    -moz-box-shadow: 0px 0px 10px #201d3a;
    -ms-box-shadow: 0px 0px 10px #201d3a;
    box-shadow: 0px 0px 10px #201d3a;
    width: 70%;
    margin: 50px auto;
    color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .mainContent .detailContainer .detailImg {
      width: 100%;
      padding-bottom: 15px; }
      .mainContent .detailContainer .detailImg img {
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
    .mainContent .detailContainer .detailContent {
      float: left;
      width: 100%;
      padding: 0px 1em 20px 1em; }
      .mainContent .detailContainer .detailContent h3 {
        color: #4cb69f;
        font-size: 2.5em;
        padding-bottom: .25em; }
      .mainContent .detailContainer .detailContent p {
        color: #f5f5f5;
        font-size: 1em;
        padding-top: .25em;
        padding-bottom: .25em; }
  .mainContent .linkButton {
    text-decoration: none;
    font-size: 1.25em;
    padding: .25em;
    display: inline-block;
    background-color: #4cb69f;
    color: #f5f5f5;
    border: 1px solid #4cb69f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: .25em;
    transition: color .3s ease, border-color .3s ease; }
    .mainContent .linkButton:hover {
      color: #201d3a;
      border-color: #201d3a; }
  .mainContent .deleteButton {
    text-decoration: none;
    font-size: 1.25em;
    padding: .25em;
    display: inline-block;
    color: #f5f5f5;
    background-color: #b73e3e;
    border: 1px solid #b73e3e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: .25em;
    transition: color .3s ease, border-color .3s ease; }
    .mainContent .deleteButton:hover {
      background-color: #f5f5f5;
      color: #b73e3e; }

.mainForm {
  background-color: #201d3a;
  color: #f5f5f5;
  padding: 1.25em;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #201d3a;
  -moz-box-shadow: 0px 0px 10px #201d3a;
  -ms-box-shadow: 0px 0px 10px #201d3a;
  box-shadow: 0px 0px 10px #201d3a; }
  .mainForm span {
    font-size: .8em;
    margin-top: .8em;
    margin-bottom: .25em;
    display: inline-block; }
  .mainForm .charLimit {
    opacity: .3;
    float: right; }
  .mainForm legend {
    padding-top: .5em;
    padding-bottom: .5em; }
  .mainForm .userInput, .mainForm .expertiseSelect, .mainForm .bioText {
    display: block;
    padding: .5em; }
  .mainForm .userInput, .mainForm .bioText {
    width: 100%;
    border: 0;
    border-bottom: #4cb69f 3px solid;
    background-color: transparent;
    color: #4cb69f;
    font-size: 1em; }
  .mainForm .userInput {
    margin-bottom: 1em;
    margin-top: 1em; }
  .mainForm .expertiseSelect {
    margin-top: .4em;
    color: #201d3a;
    margin-bottom: .5em; }
  .mainForm .bioText {
    height: 100px;
    margin-bottom: .5em;
    font-family: "Noto Sans", sans-serif; }
  .mainForm .submitButton {
    font-size: 1.4em;
    padding: .5em;
    border: #f5f5f5 1px solid;
    color: #4cb69f;
    background-color: #f5f5f5;
    margin-top: .8em;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease; }
    .mainForm .submitButton:hover {
      color: #f5f5f5;
      background-color: #4cb69f;
      border-color: #4cb69f; }
  .mainForm .uploadButton {
    color: #4cb69f;
    padding: .3em; }

@media (min-width: 47.5em) {
  .mainForm {
    width: 50%; }
    .mainForm .submitButton {
      font-size: 1em; }

  .mainContent .column {
    width: 25%; }
  .mainContent .detailContainer {
    width: 100%; }
    .mainContent .detailContainer .detailImg {
      width: 25%;
      float: left;
      margin: 0;
      padding: 0; }
    .mainContent .detailContainer .detailContent {
      width: 75%;
      padding: 10px 1em 10px 1em; } }
